@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


*{
  
  margin: 0;
  padding: 0;
}

.bgimage {
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;

		
}

.heading h3{
	
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: 'Dancing Script', cursive;
  position: relative;
  letter-spacing: 1px;
  margin-left: 40px;
  margin-top: 140px;
  padding: 20px;
  line-height: 50px;

}

.para p{
	color: white;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	position: relative;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;

}

.para h6{
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	width: 100%;
	font-size: 12px;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;

}

.menu{
	width: 100%;
	height: 70px;
	background-color: white;
	
}

.leftmenu{
	width: 25%;
	float: left;
 
}

.leftmenu h4{
	padding-left: 70px;
	font-size: 22px;
	color: black;
	line-height: 70px;
	text-transform: uppercase;
	font-weight: bold ;
}

.rightmenu{
	width: 70%;
	height: 100px;
	float: right;
}

.rightmenu ul{
	margin-left: 450px ;
}

.rightmenu ul li{
	color: black;
	list-style: none;
	display: inline-block;
	font-size: 15px;
	line-height: 70px;
	margin-left: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.rightmenu ul li:hover{
	background-color: grey;
}

.projects{
	
	height: 100px;
}

.projects h3{
	text-transform: uppercase;
  border-bottom: 1px solid grey;
	padding: 25px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
	line-height: 40px;
	margin-right: 40px;

}

.row{
  display: inline-grid;
	/*display: inline-grid;*/
	width: 100%;
	padding: 25px;
	margin-left: 20px;
	position: relative;

}

.display-topleft{
	top: left;  
	background-color: black; 
	padding: 5px ;
	color: white;
	width: 65%;
	float: left;
	text-align: justify;
	text-transform: uppercase;
}

#view{
	margin-top: 20px;
	margin-left: 100px;
	padding: 2px;
	width: 30%;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 40px;

}

#view:hover{
	background-color: white;
	color: black;
}

.aboutus{
	width: 100%;
}

.aboutus h3{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
  padding: 25px 25px;
  margin-top: 40px;
  margin-left: 40px;
  border-bottom: 1px solid grey;
  margin-right: 40px;
}

.aboutus p{
	font-size: 18px;
	color: black;
	font-weight: 500px;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
